<div *ngIf="controlChanges$ | async as error">
  <div *ngIf="showError">
    <div *ngFor="let v of validators; let i = index">
      <div *ngIf="errors && errors.hasOwnProperty(v.type)">
        {{ v.message }}
      </div>
    </div>
  </div>
</div>
