<div *ngIf="form$ | async as form">
  <div *ngFor="let section of form.sections">
      {{section | json }}
      <div *ngFor="let componentId of section.questions">
        ID {{componentId}}
        <app-loader [component]="componentId"></app-loader>
      </div>

  </div>
</div>

<button (click)="updateId()">Set Id</button>
